<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!-- prism js -->
    <link rel="stylesheet" href="{{site.url}}/assets/css/prism.css">
    <script src="{{site.url}}/assets/js/prism.js"></script>


    <style>

        /* styling pre box */
        pre {
            max-width: 80em;
            max-height: 30em;
            overflow: auto;
        }


        .margin-top-60{
            margin-top: 60px;
        }
    </style>

</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{site.url}}">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{site.url}}">Home</a></li>
            <li><a href="{{site.url}}">Page 1</a></li>
            <li><a href="{{site.url}}">Page 2</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{site.url}}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{{site.url}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

<div class="container margin-top-60">
    <div class="row">
        <div class="col-md-12">
            {% for post in site.posts %}
            <div class="row">
                <div class="small-12 columns">
                    <sub>{{ post.date | date: '%B %d, %Y' }}</sub>
                    <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
                </div>
            </div>
            {% endfor %}
            {{content}}
        </div>
    </div>
</div>
</body>
</html>
​

